@model PagonetCore.Models.StockAlma

@{
    ViewBag.Title = "Detalles Stock";
}

<h2>Detalles Stock</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Almacen.co_alma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Almacen.co_alma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.co_art)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.StockAlmacenID }) |
    @Html.ActionLink("Volver", "Index")
</p>
