@model PagonetCore.Models.StockAlma

@{
    ViewBag.Title = "Detalles Stock";
}

<h2 class="d-flex justify-content-center">Detalles Stock</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Almacen.co_alma)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Almacen.co_alma)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Articulo.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.stock)
        </dd>

    </dl>
</div>
<div class="row justify-content-center">
    <div class="col-9 offset-3 mr-5 col-sm-7 col-md-6 offset-lg-4 mr-lg-5">
        @Html.ActionLink("Modificar Stock", "Edit", new { id = Model.StockAlmacenID }, new { @type = "button", @class = "form-btn btn btn-primary btn-block" })
        @Html.ActionLink("Volver a Stock Almacenes", "Index", null, new { @type = "button", @class = "form-btn btn btn-light btn-block" })
    </div>
</div>
