@model IEnumerable<PagonetCore.Models.StockAlma>

@{
    ViewBag.Title = "Stock Almacenes";
}

<h2>Stock Almacenes</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Almacen.co_alma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Almacen.co_alma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulo.co_art)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.StockAlmacenID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.StockAlmacenID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.StockAlmacenID })
        </td>
    </tr>
}

</table>
