@model IEnumerable<PagonetCore.Models.StockAlma>

@{
    ViewBag.Title = "Stock Almacenes";
}

<div class="row justify-content-center mb-4">
    <h1 class="display-4">Stock Almacenes</h1>
</div>

<div class="row justify-content-center mb-4">
    @Html.ActionLink("Crear Stock Almacén", "Create", null, new { @type = "button", @class = "btn btn-primary" })
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Almacen.co_alma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Articulo.co_art)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stock)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Almacen.co_alma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Articulo.co_art)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.StockAlmacenID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.StockAlmacenID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.StockAlmacenID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>