@model PagonetCore.Models.Adimg_art

@{
    ViewBag.Title = "Eliminar Imagen Artículo";
}

<h2 class="d-flex justify-content-center">Eliminar Imagen Artículo</h2>

<h3 class="d-flex justify-content-center">¿Está seguro de que desea eliminar la Imagen de Artículo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Articulo.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tip)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tip)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.imagen_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.imagen_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.picture)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-10 offset-2 col-md-7 offset-md-5">
            <input type="submit" value="Eliminar" class="btn btn-default" /> &nbsp;|&nbsp;
            @Html.ActionLink("Volver a Imágenes Artículo", "Index")
        </div>
    }
</div>
