@model PagonetCore.Models.Adimg_art

@{
    ViewBag.Title = "Detalles Imagen Artículo";
}

<h2>Detalles Imagen Artículo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.co_art)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_art)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_art)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen_des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id_imgart }) |
    @Html.ActionLink("Volver a Imágenes de Artículo", "Index")
</p>
