@model IEnumerable<PagonetCore.Models.Adzona>

@{
    ViewBag.Title = "Zonas";
}

<div class="row justify-content-center mb-4">
    <h2>Zonas</h2>
</div>

<div class="row justify-content-center mb-4">
    @Html.ActionLink("Crear Zona", "Create", null, new { @type = "button", @class = "btn btn-primary" })
</div>

<div class="row justify-content-center mb-4">
    <table class="table table-responsive table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.co_zon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zon_des)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.importado_web)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.importado_pro)
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.co_zon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zon_des)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.importado_web)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.importado_pro)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.id_zona }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id_zona }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_zona })
                </td>
            </tr>
        }

    </table>
</div>