@model PagonetCore.Models.Adtipo_cliente

@{
    ViewBag.Title = "Eliminar Tipo Cliente";
}

<h2>Eliminar Tipo Cliente</h2>

<h3>¿Está seguro de que desea eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tip_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
