@model PagonetCore.Models.Adtipo_cliente

@{
    ViewBag.Title = "Detalles Tipo Cliente";
}

<h2 class="d-flex justify-content-center">Detalles Tipo Cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tip_cli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tip_cli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.des_tipo)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.des_tipo)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<div class="row justify-content-center">
    <div class="col-9 offset-3 mr-5 col-sm-7 col-md-6 offset-lg-4 mr-lg-5">
        @Html.ActionLink("Modificar Tipo de Cliente", "Edit", new { id = Model.id_tipocliente }, new { @type = "button", @class = "form-btn btn btn-primary btn-block" })
        @Html.ActionLink("Volver a Tipos de Cliente", "Index", null, new { @type = "button", @class = "form-btn btn btn-light btn-block" })
    </div>
</div>
