@model PagonetCore.Models.Adpais

@{
    ViewBag.Title = "Eliminar País";
}

<h2 class="d-flex justify-content-center">Eliminar País</h2>

<h3 class="d-flex justify-content-center">¿Está seguro de que desea eliminar el País?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_pais)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_pais)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.pais_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.pais_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-10 offset-2 col-md-7 offset-md-5">
            <input type="submit" value="Eliminar" class="btn btn-default" /> &nbsp;|&nbsp;
            @Html.ActionLink("Volver a Países", "Index")
        </div>
    }
</div>
