@model IEnumerable<PagonetCore.Models.Adpais>

@{
    ViewBag.Title = "Países";
}

<h2>Países</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.co_pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais_des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.co_pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais_des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.id_pais }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_pais }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_pais })
        </td>
    </tr>
}

</table>
