@model IEnumerable<PagonetCore.Models.Advendedor>

@{
    ViewBag.Title = "Vendedores";
}

<div class="row justify-content-center mb-4">
    <h1 class="display-4">Vendedores</h1>
</div>

<div class="row justify-content-center mb-4">
    @Html.ActionLink("Crear Vendedor", "Create", null, new { @type = "button", @class = "btn btn-primary" })
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Zona.co_zon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.co_ven)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ven_des)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.co_zon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_web)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_pro)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zona.co_zon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_ven)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ven_des)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_zon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_web)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_pro)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.id_vendedor }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id_vendedor }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_vendedor })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>