@model IEnumerable<PagonetCore.Models.Advendedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.co_ven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ven_des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.co_zon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.co_ven)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ven_des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.co_zon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_vendedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_vendedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_vendedor })
        </td>
    </tr>
}

</table>
