@model PagonetCore.Models.Tasa_IVA

@{
    ViewBag.Title = "Eliminar Tasa IVA";
}

<h2 class="d-flex justify-content-center">Eliminar Tasa IVA</h2>

<h3 class="d-flex justify-content-center">¿Está seguro de que desea eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.fechapubli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.fechapubli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.nro_reng)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.nro_reng)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tip_impu)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tip_impu)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.ventas)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.ventas)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.consumosuntuario)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.consumosuntuario)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porcentajetaza)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porcentajetaza)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porcentajesuntuario)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porcentajesuntuario)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-10 offset-2 col-md-7 offset-md-5">
            <input type="submit" value="Eliminar" class="btn btn-default" /> &nbsp;|&nbsp;
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
