@model PagonetCore.Models.Tasa_IVA

@{
    ViewBag.Title = "Detalles Tasa IVA";
}

<h2 class="d-flex justify-content-center">Detalles Tasa IVA</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.fechapubli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.fechapubli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.nro_reng)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.nro_reng)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tip_impu)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tip_impu)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.ventas)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.ventas)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.consumosuntuario)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.consumosuntuario)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porcentajetaza)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porcentajetaza)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porcentajesuntuario)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porcentajesuntuario)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id_impuesto }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver", "Index")
</p>
