@model IEnumerable<PagonetCore.Models.AdBanco>

@{
    ViewBag.Title = "Bancos";
}

<h2>Bancos</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.co_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.des_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.co_ban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.des_ban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.id_banco }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_banco }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_banco })
        </td>
    </tr>
}

</table>
