@model PagonetCore.Models.Adtransporte

@{
    ViewBag.Title = "Crear Transporte";
}

<h2 class="d-flex justify-content-center">Crear Transporte</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.co_tran, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_tran, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_tran, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.des_tran, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.des_tran, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.des_tran, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.importado_web, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.importado_web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.importado_web, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.importado_pro, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.importado_pro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.importado_pro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-center">
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
