@model PagonetCore.Models.Adtransporte

@{
    ViewBag.Title = "Crear Transporte";
}

<div class="row justify-content-center mb-4">
    <h2>Crear Transporte</h2>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-9 offset-3 mr-5 col-sm-7 col-md-6 offset-lg-4 mr-lg-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.co_tran, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.co_tran, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.co_tran, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.des_tran, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.des_tran, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.des_tran, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.importado_web, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.importado_web, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.importado_web, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.importado_pro, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.importado_pro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.importado_pro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear Transporte" class="btn btn-primary btn-block" />
                    @Html.ActionLink("Volver a Transportes", "Index", null, new { @type = "button", @class = "form-btn btn btn-light btn-block" })
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>