@model IEnumerable<PagonetCore.Models.Adtransporte>

@{
    ViewBag.Title = "Transportes";
}

<h2>Transportes</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.co_tran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.des_tran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.co_tran)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.des_tran)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.idtransporte }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idtransporte }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idtransporte })
        </td>
    </tr>
}

</table>
