@model IEnumerable<PagonetCore.Models.Adtransporte>

@{
    ViewBag.Title = "Transportes";
}

<div class="row justify-content-center mb-4">
    <h1 class="display-4">Transportes</h1>
</div>

<div class="row justify-content-center mb-4">
    @Html.ActionLink("Crear Transporte", "Create", null, new { @type = "button", @class = "btn btn-primary" })
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.co_tran)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.des_tran)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_web)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_pro)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_tran)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.des_tran)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_web)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_pro)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.idtransporte }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idtransporte }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idtransporte })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>