@model PagonetCore.Models.adpreciosart

@{
    ViewBag.Title = "Crear Precio Artículo";
}

<h2 class="d-flex justify-content-center">Crear Precio Artículo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.co_art, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_art, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_art, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_precios, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_precios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_precios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.desde, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.desde, new { htmlAttributes = new { @onkeydown = "return false", @class = "form-control datepicker", data_provide = "datepicker", data_date_format = "dd-mm-yyyy", data_date_language = "es" } })
                @Html.ValidationMessageFor(model => model.desde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hasta, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.hasta, new { htmlAttributes = new { @onkeydown = "return false", @class = "form-control datepicker", data_provide = "datepicker", data_date_format = "dd-mm-yyyy", data_date_language = "es" } })
                @Html.ValidationMessageFor(model => model.hasta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_alma, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_alma, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_alma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monto, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montoadi1, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.montoadi1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.montoadi1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montoadi2, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.montoadi2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.montoadi2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montoadi3, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.montoadi3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.montoadi3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montoadi4, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.montoadi4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.montoadi4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montoadi5, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.montoadi5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.montoadi5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precioOm, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.precioOm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precioOm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.importado_web, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.importado_web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.importado_web, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.importado_pro, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.importado_pro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.importado_pro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_art, "ID Artículo", htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @*@Html.DropDownList("id_art", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.Articulo, (IEnumerable<SelectListItem>)ViewBag.id_art, htmlAttributes: new { @class = "form-control", @Name = "id_art" })
                @Html.ValidationMessageFor(model => model.id_art, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_almacen, "Código Almacén", htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @*@Html.DropDownList("cod_almacen", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.Almacen, (IEnumerable<SelectListItem>)ViewBag.cod_almacen, htmlAttributes: new { @class = "form-control", @Name = "cod_almacen" })
                @Html.ValidationMessageFor(model => model.cod_almacen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-center">
    @Html.ActionLink("Volver a Precios Artículo", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
