@model PagonetCore.Models.adpreciosart

@{
    ViewBag.Title = "Detalles Precio Artículo";
}

<h2 class="d-flex justify-content-center">Detalles Precio Artículo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Almacen.co_alma)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Almacen.co_alma)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Articulo.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_precios)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_precios)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.desde)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.desde)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.hasta)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.hasta)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_alma)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_alma)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.montoadi1)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.montoadi1)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.montoadi2)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.montoadi2)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.montoadi3)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.montoadi3)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.montoadi4)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.montoadi4)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.montoadi5)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.montoadi5)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.precioOm)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.precioOm)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id_preciosart }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver", "Index")
</p>
