@model PagonetCore.Models.Adcotizacion

@{
    ViewBag.Title = "Detalles Cotización";
}

<h2 class="d-flex justify-content-center">Detalles Cotización</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Cliente.co_cli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Cliente.co_cli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.CondicionDePago.co_cond)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.CondicionDePago.co_cond)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Transporte.co_tran)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Transporte.co_tran)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Vendedor.co_ven)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Vendedor.co_ven)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.doc_num)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.doc_num)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.descrip)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.descrip)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_cli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_cli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_tran)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_tran)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_mone)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_mone)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_ven)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_ven)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_cond)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_cond)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.fec_emis)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.fec_emis)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.fec_venc)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.fec_venc)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.fec_reg)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.fec_reg)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.anulado)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.anulado)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.total_bruto)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.total_bruto)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto_imp)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto_imp)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto_imp2)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto_imp2)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto_imp3)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto_imp3)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.total_neto)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.total_neto)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.saldo)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.saldo)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Diasvencimiento)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Diasvencimiento)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.nro_pedido)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.nro_pedido)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.vencida)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.vencida)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id_doc_num }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver a Cotizaciones", "Index")
</p>
