@model PagonetCore.Models.AdCotizacionreg

@{
    ViewBag.Title = "Detalles Renglón";
}

<h2 class="d-flex justify-content-center">Detalles Renglón</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Almacen.co_alma)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Almacen.co_alma)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Articulo.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Articulo.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.PrecioArticulo.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.PrecioArticulo.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.doc_num)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.doc_num)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.reng_num)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.reng_num)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.art_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.art_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_alma)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_alma)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.total_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.total_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.stotal_art)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.stotal_art)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.cod_unidad)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.cod_unidad)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_precios)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_precios)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.prec_vta)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.prec_vta)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.prec_vta_om)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.prec_vta_om)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tipo_imp)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tipo_imp)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tipo_imp2)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tipo_imp2)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tipo_imp3)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tipo_imp3)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porc_imp)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porc_imp)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porc_imp2)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porc_imp2)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.porc_imp3)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.porc_imp3)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto_imp)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto_imp)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto_imp2)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto_imp2)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.monto_imp3)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.monto_imp3)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.reng_neto)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.reng_neto)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tipo_doc)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tipo_doc)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.num_doc)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.num_doc)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id_doc_num }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver", "Index")
</p>
