@model IEnumerable<PagonetCore.Models.AdFormasCobro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nro_reng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_cob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cob_num_pro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.co_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.forma_pag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_cta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_caja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mov_num_c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mov_num_b)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mont_doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nro_reng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_cob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cob_num_pro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.co_ban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.forma_pag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_cta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_caja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mov_num_c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mov_num_b)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mont_doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.forma_cob_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.forma_cob_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.forma_cob_id })
        </td>
    </tr>
}

</table>
