@model PagonetCore.Models.Adusuarios

@{
    ViewBag.Title = "Detalles Usuario";
}

<h2 class="d-flex justify-content-center">Detalles Usuario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_user_prof)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_user_prof)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.cod_user)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.cod_user)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.nombre_usuarios)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.nombre_usuarios)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.validacion)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.validacion)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver", "Index")
</p>
