@model PagonetCore.Models.AdCobros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdCobros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cob_num_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cob_num_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_clientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_clientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_mone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_mone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_ven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_ven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anulado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anulado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cob }) |
    @Html.ActionLink("Back to List", "Index")
</p>
