@model PagonetCore.Models.Adclientes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adclientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.tip_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.tip_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingreso.co_ctaIng_egr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingreso.co_ctaIng_egr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.co_pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.co_pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segmento.co_seg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segmento.co_seg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor.co_ven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.co_ven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona.co_zon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona.co_zon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tip_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dir_ent2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dir_ent2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inactivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inactivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_zon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_zon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_seg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_seg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_ven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_ven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_cta_ingr_egr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_cta_ingr_egr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.juridico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.juridico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_comercio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_comercio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
