@model PagonetCore.Models.Adclientes

@{
    ViewBag.Title = "Detalles de Cliente";
}

<h2 class="d-flex justify-content-center">Detalles de Cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.TipoCliente.tip_cli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.TipoCliente.tip_cli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Ingreso.co_ctaIng_egr)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Ingreso.co_ctaIng_egr)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Pais.co_pais)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Pais.co_pais)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Segmento.co_seg)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Segmento.co_seg)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Vendedor.co_ven)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Vendedor.co_ven)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.Zona.co_zon)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.Zona.co_zon)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_cli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_cli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.tip_cli)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.tip_cli)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.cli_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.cli_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.direc1)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.direc1)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.dir_ent2)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.dir_ent2)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.telefonos)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.telefonos)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.inactivo)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.inactivo)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.respons)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.respons)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_zon)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_zon)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_seg)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_seg)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_ven)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_ven)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_cta_ingr_egr)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_cta_ingr_egr)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.rif)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.rif)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.juridico)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.juridico)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_pais)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_pais)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.cod_comercio)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.cod_comercio)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<div class="row justify-content-center">
    <div class="col-9 offset-3 mr-5 col-sm-7 col-md-6 offset-lg-4 mr-lg-5">
        @Html.ActionLink("Modificar Cliente", "Edit", new { id = Model.id_clientes }, new { @type = "button", @class = "form-btn btn btn-primary btn-block" })
        @Html.ActionLink("Volver a Clientes", "Index", null, new { @type = "button", @class = "form-btn btn btn-light btn-block" })
    </div>
</div>
