@model PagonetCore.Models.Adcondiciondepago

@{
    ViewBag.Title = "Eliminar Condición de Pago";
}

<div class="row justify-content-center mb-2">
    <h2>Eliminar Condición de Pago</h2>
</div>

<div class="row justify-content-center text-center mb-2">
    <h4>¿Está seguro de que desea eliminar la Condición de Pago?</h4>
</div>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_cond)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_cond)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.cond_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.cond_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.dias_cred)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.dias_cred)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    <div class="row justify-content-center">
        <div class="col-9 offset-3 mr-5 col-sm-7 col-md-6 offset-lg-4 mr-lg-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <input type="submit" value="Eliminar Condición de Pago" class="btn btn-danger btn-block" />
                    @Html.ActionLink("Volver a Condiciones de Pago", "Index", null, new { @type = "button", @class = "form-btn btn btn-light btn-block" })
                </div>
            }
        </div>
    </div>
</div>
