@model PagonetCore.Models.Adcondiciondepago

@{
    ViewBag.Title = "Detalles de Condición de Pago";
}

<h2 class="d-flex justify-content-center">Detalles de Condición de Pago</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_cond)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_cond)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.cond_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.cond_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.dias_cred)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.dias_cred)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar", "Edit", new { id = Model.id_condicion }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver a Condiciones de Pago", "Index")
</p>
