@model IEnumerable<PagonetCore.Models.Adcondiciondepago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.co_cond)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cond_des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dias_cred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.co_cond)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cond_des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dias_cred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_condicion }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_condicion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_condicion })
        </td>
    </tr>
}

</table>
