@model IEnumerable<PagonetCore.Models.AdSerial>

@{
    ViewBag.Title = "Seriales";
}

<div class="row justify-content-center mb-4">
    <h1 class="display-4">Seriales</h1>
</div>

<div class="row justify-content-center mb-4">
    @Html.ActionLink("Crear Serial", "Create", null, new { @type = "button", @class = "btn btn-primary" })
</div>

<div class="row justify-content-center mb-4">
    <div class="col-12">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Almacen.co_alma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Articulo.co_art)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.co_art)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.co_alma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.serial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tip_dispositivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_web)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_pro)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Almacen.co_alma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Articulo.co_art)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_art)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_alma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.serial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tip_dispositivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_web)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_pro)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.reng_num }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.reng_num }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.reng_num })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>