@model PagonetCore.Models.AdIngreso

@{
    ViewBag.Title = "Eliminar Ingreso";
}

<h2>Eliminar Ingreso</h2>

<h3>¿Está seguro de que desea eliminar el Ingreso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.co_ctaIng_egr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_ctaIng_egr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrip_ingre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrip_ingre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_user_prof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_user_prof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Ingresos", "Index")
        </div>
    }
</div>
