@model PagonetCore.Models.AdIngreso

@{
    ViewBag.Title = "Detalles Ingreso";
}

<h2 class="d-flex justify-content-center">Detalles Ingreso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_ctaIng_egr)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_ctaIng_egr)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.descrip_ingre)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.descrip_ingre)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_user_prof)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_user_prof)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<p class="d-flex justify-content-center">
    @Html.ActionLink("Modificar Ingreso", "Edit", new { id = Model.id }) &nbsp;|&nbsp;
    @Html.ActionLink("Volver a Ingresos", "Index")
</p>
