@model IEnumerable<PagonetCore.Models.AdIngreso>

@{
    ViewBag.Title = "Ingresos";
}

<h2>Ingresos</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.co_ctaIng_egr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descrip_ingre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.co_user_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importado_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.co_ctaIng_egr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descrip_ingre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.co_user_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importado_pro)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
