@model PagonetCore.Models.sazona

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sazona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.zon_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zon_des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numcom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numcom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feccom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feccom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fe_us_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_us_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fe_us_mo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_us_mo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
