@model PagonetCore.Models.sazona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sazona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.zon_des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zon_des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numcom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numcom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feccom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feccom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fe_us_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_us_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fe_us_mo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_us_mo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.co_zon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
