@model IEnumerable<PagonetCore.Models.sazona>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.zon_des)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numcom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feccom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campo8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fe_us_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fe_us_mo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.zon_des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numcom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feccom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campo8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fe_us_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fe_us_mo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.co_zon }) |
            @Html.ActionLink("Details", "Details", new { id=item.co_zon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.co_zon })
        </td>
    </tr>
}

</table>
