@model PagonetCore.Models.AdSegmento

@{
    ViewBag.Title = "Eliminar Segmento";
}

<h2 class="d-flex justify-content-center">Eliminar Segmento</h2>

<h3 class="d-flex justify-content-center">¿Está seguro de que desea eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_seg)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_seg)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.seg_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.seg_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-10 offset-2 col-md-7 offset-md-5">
            <input type="submit" value="Eliminar" class="btn btn-default" /> &nbsp;|&nbsp;
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
