@model PagonetCore.Models.AdSegmento

@{
    ViewBag.Title = "Detalles Segmento";
}

<h2 class="d-flex justify-content-center">Detalles Segmento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_seg)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_seg)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.seg_des)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.seg_des)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>
</div>
<div class="row justify-content-center">
    <div class="col-9 offset-3 mr-5 col-sm-7 col-md-6 offset-lg-4 mr-lg-5">
        @Html.ActionLink("Modificar Segmento", "Edit", new { id = Model.id_segmento }, new { @type = "button", @class = "form-btn btn btn-primary btn-block" })
        @Html.ActionLink("Volver a Segmentos", "Index", null, new { @type = "button", @class = "form-btn btn btn-light btn-block" })
    </div>
</div>