@model PagonetCore.Models.AdArticulo

@{
    ViewBag.Title = "Crear Artículo";
}

<h2 class="d-flex justify-content-center">Crear Artículo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.co_art, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_art, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_art, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.art_des, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.art_des, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.art_des, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_lin, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_lin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_lin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_subl, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_subl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_subl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_cat, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_cat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_cat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_color, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_ubicacion, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.co_ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.co_ubicacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_proc, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.cod_proc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_proc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_unidad, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.cod_unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cod_unidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.referencia, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.referencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.referencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_imp, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.tipo_imp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipo_imp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_imp2, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.tipo_imp2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipo_imp2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_imp3, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.tipo_imp3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipo_imp3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.importado_web, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.importado_web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.importado_web, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.importado_pro, htmlAttributes: new { @class = "control-label col-10 offset-2 col-md-7 offset-md-5" })
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                @Html.EditorFor(model => model.importado_pro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.importado_pro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-10 offset-2 col-md-7 offset-md-5">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="d-flex justify-content-center">
    @Html.ActionLink("Volver a Artículos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
