@model PagonetCore.Models.AdAlmacen

@{
    ViewBag.Title = "Eliminar Almacén";
}

<h2>Eliminar Almacén</h2>

<h3>¿Está seguro de que quiere eliminar el Almacén?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.co_alma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_alma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_alamacen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_alamacen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.co_user_prof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_user_prof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Almacenes", "Index")
        </div>
    }
</div>
