@model PagonetCore.Models.AdAlmacen

@{
    ViewBag.Title = "Eliminar Almacén";
}

<h2 class="d-flex justify-content-center">Eliminar Almacén</h2>

<h3 class="d-flex justify-content-center">¿Está seguro de que quiere eliminar el Almacén?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_alma)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_alma)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.des_alamacen)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.des_alamacen)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.co_user_prof)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.co_user_prof)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_web)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_web)
        </dd>

        <dt class="d-flex justify-content-center">
            @Html.DisplayNameFor(model => model.importado_pro)
        </dt>

        <dd class="d-flex justify-content-center">
            @Html.DisplayFor(model => model.importado_pro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-10 offset-2 col-md-7 offset-md-5">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Almacenes", "Index")
        </div>
    }
</div>
