@model IEnumerable<PagonetCore.Models.AdAlmacen>

@{
    ViewBag.Title = "Almacenes";
}

<div class="row justify-content-center mb-4">
    <h1 class="display-4">Almacenes</h1>
</div>

<div class="row justify-content-center mb-4">
    @Html.ActionLink("Crear Almacén", "Create", null, new { @type = "button", @class = "btn btn-primary" })
</div>

<div class="row justify-content-center">
    <div class="col-12">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.co_alma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.des_alamacen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.web)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.co_user_prof)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_web)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importado_pro)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_alma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.des_alamacen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.web)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.co_user_prof)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_web)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importado_pro)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.cod_almacen }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.cod_almacen }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.cod_almacen })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>